.footer{
    background: blue;
    padding-top: 50px;
    padding-bottom: 15px;
}
.footer__logo i{
    color: aliceblue;
    font-weight: 400;
}
.footer__logo span{
    color: aliceblue;
    font-weight: 500;
}
.footer__logo-content{
    color: rgba(240, 248, 255, 0.637);
    margin-top: 15px;
    line-height: 30px;
}
.quick__link{
    border:none !important; 
    background: transparent !important;
}
.quick__link a{
color: rgba(240, 248, 255, 0.644);
text-decoration: none;
font-weight: 300;
transition: 0.3s;
}
.quick__link a:hover{
    color: orange;
}
.footer__link-title{
    color: aliceblue;
}
.office__info{
color: rgba(240, 248, 255, 0.644);
font-weight: 300;

}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 50px;
    background: rgba(3, 3, 117, 0.712);
}
.newsletter input[type='email']{
    background: transparent;
    color: aliceblue;
    border: none;
    outline: none;
    height: 30px;
}
.newsletter span i{
    color: aliceblue;

}
.footer p{
    color: rgba(240, 248, 255, 0.644) ;

}
.footer__bottom {
    border-top: 1px solid #000;
}
.footer__bottom i{
    color: rgba(240, 248, 255, 0.644);
}
